test:
  image: "python:$VERSION"
  stage: test
  before_script:
    - pip install responses
    - pip install -r requirements.txt
    - pip install coveralls
  script:
    - cd ./tests
    - coverage run --source=.. --omit=../lib/* ./all_tests.py
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "dev"
  parallel:
    matrix:
      - VERSION: ['3.14', '3.13', '3.12', '3.11', '3.10']
