#import sickbeard
#import datetime
#from sickbeard import WEB_ROOT, THEME_NAME
#from sickbeard.common import *
#from sickbeard import sbdatetime, network_timezones
<% def sg_var(varname, default=False): return getattr(sickbeard, varname, default) %>#slurp#
<% def sg_str(varname, default=''): return getattr(sickbeard, varname, default) %>#slurp#
##
#set global $title = 'Home'
#set global $header = 'Show List'
#set global $sbPath = '..'
#set global $topmenu = 'home'
#set $has_art = $getVar('has_art', None)
#set $restart = 'Restart SickGear for new features on this page'
#set $show_message = (None, $restart)[not $varExists('fanart')]
#set $fuzzydate = 'airdate'
#set global $page_body_attr = 'show-list" class="init ' + $getVar('css', '')
#set global $sg_root = $getVar('sbRoot', WEB_ROOT)
##
#import os.path
#include $os.path.join($sg_str('PROG_DIR'), 'gui/slick/interfaces/default/inc_top.tmpl')
	<script>
		var config = {
			isPoster: #echo ['!1','!0']['poster' == $sg_var('HOME_LAYOUT')]#,
			sortArticle: #echo ['!1','!0'][$sg_var('SORT_ARTICLE')]#,
			homeSearchFocus: #echo ['!1','!0'][$sg_var('HOME_SEARCH_FOCUS', True)]#,
			fuzzyDating: #echo ['!1','!0'][$sg_var('FUZZY_DATING')]#,
			timeZero: #echo ['!1','!0'][$sg_var('TRIM_ZERO')]#,
			datePreset: "$sg_str('DATE_PRESET', '%x')",
			timePreset: "$sg_str('TIME_PRESET', '%I:%M %p')",
			fuzzydate: ".$fuzzydate",
			hasArt: #echo ('!0', '!1')[not $has_art]#,
			};
	</script>

	<style>
#set theme_suffix = ('', '-dark')['dark' == $getVar('sbThemeName', THEME_NAME)]
		.bfr,.init .pre-render{position:absolute;left:-999px;top:-999px}.bfr img{width:16px;height:16px}.spinner{display:inline-block;width:16px;height:16px;background:url(${sg_root}/images/loading16${theme_suffix}.gif) no-repeat 0 0}.init .pre-gutter{margin-right:12px !important}.init .pre-border{border:0 !important}
		.toolbar select{display:none}
	</style>
	<div class="bfr"><img src="$sg_root/images/loading16${theme_suffix}.gif"><img src="$sbRoot/images/poster_thumb.jpg" alt=""><img src="$sbRoot/images/banner_thumb.jpg" alt=""></div>

#if $varExists('fanart')
<div id="background-container">
    #if len($fanart)
	<ul>
        #set $start_image = True
        #for $show_id in $fanart
            #for ($image, $rating) in $fanart.get($show_id, [])
		<li class="#echo ' '.join((x for x in ({10:'group', 20:'fave', 30:'avoid'}.get($rating, ''), ('', 'background first-load')[$start_image]) if x)) #" style="background-image:url($sbRoot/showPoster/?show=$show_id&which=fanart_$image)"></li>
                #set $start_image = False
            #end for
        #end for
	</ul>
    #end if
</div>

#end if
#if $show_message
	<div class="alert alert-info">
		$show_message
	</div>

#end if
	<h1 class="header" style="margin-bottom:0">Show List</h1>

	<div id="HomeLayout" class="wrap pull-right">
#set $tab = 1
#set $selected = ' selected="selected"'

		<div class="toolbar">
			<select name="layout" id="layout" tabindex="$tab#set $tab += 1#">
				<optgroup label="Layout">
					<option value="$sg_root/setHomeLayout/?layout=poster"#echo $selected if 'poster' == $sg_str('HOME_LAYOUT', 'poster') else ''#>Flex</option>
					<option value="$sg_root/setHomeLayout/?layout=small"#echo $selected if 'small' == $sg_str('HOME_LAYOUT') else ''#>Poster</option>
					<option value="$sg_root/setHomeLayout/?layout=banner"#echo $selected if 'banner' == $sg_str('HOME_LAYOUT') else ''#>Banner</option>
					<option value="$sg_root/setHomeLayout/?layout=simple"#echo $selected if 'simple' == $sg_str('HOME_LAYOUT') else ''#>Simple</option>
				</optgroup>
			</select>
		</div>
	</div><!-- /HomeLayout -->

	<div id="config-components">
		<ul>
#for $curShowlist in $showlists
    #set $curGroupID = $curShowlist[0].replace('container', 'group')
    #set $show_cnt = len($curShowlist[2]) or '--'
			<li><a id="link-$curGroupID" href="#core-component-$curGroupID">$curShowlist[1]<span class="show-cnt article">[$show_cnt]</span></a></li>
#end for
#set $default_showlist = 1 == $len($showlists) and 'Show List' == $showlists[0][1]
#if $default_showlist
			<li><a href="#core-component-assist">?</a></li>
#end if
		</ul>

		<div class="wrap pull-left pre-render">
			<div class="toolbar">
				<button class="regex nolabel" data-regex="*" tabindex="$tab#set $tab += 1#">Regex Mode</button>
				<input id="search_show_name" class="search form-control form-control-inline input-sm pull-left mt-esc" type="search" data-column="1" placeholder="Filter Show Name" tabindex="$tab#set $tab += 1#">
				<button class="resetshows undo nolabel" tabindex="$tab#set $tab += 1#">Reset Filter</button>
			</div>
		</div>
#if 'poster' == $layout
##
        #set $multi_selected = ' class="selected" selected="selected"'
		<div class="wrap sort-tools pull-right">
			<div class="toolbar">
				<select id="card-sort" tabindex="$tab#set $tab += 1#">
					<optgroup label="Sort by">
						<option value="name" data-sort="$sg_root/setPosterSortBy/?sort=name"#if 'name' == $sg_str('POSTER_SORTBY', 'name')#$multi_selected#end if#>Name</option>
						<option value="date" data-sort="$sg_root/setPosterSortBy/?sort=date"#if 'date' == $sg_str('POSTER_SORTBY')#$multi_selected#end if#>Next Air</option>
						<option value="network" data-sort="$sg_root/setPosterSortBy/?sort=network"#if 'network' == $sg_str('POSTER_SORTBY')#$multi_selected#end if#>Network</option>
						<option value="progress" data-sort="$sg_root/setPosterSortBy/?sort=progress"#if 'progress' == $sg_str('POSTER_SORTBY')#$multi_selected#end if#>Progress</option>
						<option value="quality" data-sort="$sg_root/setPosterSortBy/?sort=quality"#if 'quality' == $sg_str('POSTER_SORTBY')#$multi_selected#end if#>Quality</option>
					</optgroup>
					<optgroup label="Order">
						<option value="order-asc" data-sort="$sg_root/setPosterSortDir/?direction=1"#if 1 == $sg_var('POSTER_SORTDIR', 1)# class="selected"#end if#>Asc</option>
						<option value="order-desc" data-sort="$sg_root/setPosterSortDir/?direction=0"#if 0 == $sg_var('POSTER_SORTDIR')# class="selected"#end if#>Desc</option>
					</optgroup>
				</select>

				<select id="flexible" tabindex="$tab#set $tab += 1#">
					<optgroup label="Display">
						<option value="" data-state="$sg_root/set_showlist_flexible/?state=tt"#echo $selected if 'tt' == $sg_var('SHOWLIST_FLEXIBLE', 'tt') else ''#>Talltrait</option>
						<option value="tallscape" data-state="$sg_root/set_showlist_flexible/?state=ts"#echo $selected if 'ts' == $sg_var('SHOWLIST_FLEXIBLE') else ''#>Tallscape</option>
						<option value="smallscape" data-state="$sg_root/set_showlist_flexible/?state=ss"#echo $selected if 'ss' == $sg_var('SHOWLIST_FLEXIBLE') else ''#>Smallscape</option>
						<option value="widescape" data-state="$sg_root/set_showlist_flexible/?state=ws"#echo $selected if 'ws' == $sg_var('SHOWLIST_FLEXIBLE') else ''#>Widescape</option>
						<option value="widetrait" data-state="$sg_root/set_showlist_flexible/?state=wt"#echo $selected if 'wt' == $sg_var('SHOWLIST_FLEXIBLE') else ''#>Widetrait</option>
					</optgroup>
				</select>
			</div>
		</div>
#end if
#set $poster_id = 0

#for $curShowlist in $showlists
    ##
    #set $curListID = $curShowlist[0]
    #set $curGroupID = $curShowlist[0].replace('container', 'group')
    #set $curListName = $curShowlist[1]
    #set $myShowList = $list($curShowlist[2])
    ##
		<div id="core-component-$curGroupID" class="component-group">

    #if 'poster' == $layout
    ##
			<div id="$curListID" class="clearfix container" style="clear:both;padding:0">
				<div class="posterview">
        ##
        #for $curLoadingShow in $sickbeard.showQueueScheduler.action.loadingShowList
            ##
            #if $curLoadingShow.show != None and $curLoadingShow.show in $sg_str('showList')
                #continue
            #end if
            ##
            #if None is $curLoadingShow.show
            ##
					<div class="show-card" data-name="0" data-date="010101" data-network="0">
						<img alt="" title="$curLoadingShow.show_name" class="show-image" style="border-bottom:1px solid #111" src="$sg_root/images/poster.png">
						<div class="show-details">
							<div class="show-add">Loading... ($curLoadingShow.show_name)</div>
						</div>
						<span class="sort-data" data-progress="101"></span>
					</div>
            ##
            #end if
            ##
        #end for
        ##
        $myShowList.sort(lambda x, y: cmp(x.name, y.name))
        ##
        #set $load_normal = 0
        #for $curShow in $myShowList
            ##
            #set $cur_airs_next = ''
            #set $cur_snatched = 0
            #set $cur_downloaded = 0
            #set $cur_total = 0
            #set $download_stat_tip = ''
            #set $display_status = $curShow.status
            #set $display_name = (re.sub('^((?:A(?!\s+to)n?)|The)\s(\w)', r'<span class="article">\1</span> \2', $curShow.name), $curShow.name)[$sg_var('SORT_ARTICLE')]
            #set $poster_id += 1
            #if None is not $display_status
                #if re.search(r'(?i)(?:(?:new|returning)\s*series|upcoming)', $curShow.status)
                    #set $display_status = 'Continuing'
                #else if re.search(r'(?i)(?:nded)', $curShow.status)
                    #set $display_status = 'Ended'
                #end if
            #end if
            ##
            #if $curShow.indexerid in $show_stat
                #set $cur_airs_next = $show_stat[$curShow.indexerid]['ep_airs_next']
                ##
                #set $cur_snatched = $show_stat[$curShow.indexerid]['ep_snatched']
                #if not $cur_snatched
                    #set $cur_snatched = 0
                #end if
                ##
                #set $cur_downloaded = $show_stat[$curShow.indexerid]['ep_downloaded']
                #if not $cur_downloaded
                    #set $cur_downloaded = 0
                #end if
                ##
                #set $cur_total = $show_stat[$curShow.indexerid]['ep_total']
                #if not $cur_total
                    #set $cur_total = 0
                #end if
            #end if
            ##
            #if $cur_total != 0
                #set $download_stat = str($cur_downloaded)
                #set $download_stat_tip = 'Downloaded: ' + str($cur_downloaded)
                #if $cur_snatched > 0
                    #set $download_stat = '%s<a class="ui-font" href="%s/manage/episode_statuses?which_status=2" title="View overview of snatched episodes">+%s</a>' % ($download_stat, $sg_root, $cur_snatched)
                    #set $download_stat_tip = download_stat_tip + '&#013;' + 'Snatched: ' + str($cur_snatched)
                #end if
                #set $download_stat = download_stat + ' / ' + str($cur_total)
                #set $download_stat_tip = download_stat_tip + '&#013;' + 'Total: ' + str($cur_total)
            #else
                #set $download_stat = '?'
                #set $download_stat_tip = 'no data'
            #end if
            ##
            #set $nom = $cur_downloaded
            #set $den = $cur_total
            #if $den == 0
                #set $den = 1
            #end if
            ##
            #set $progressbar_percent = $nom * 100 / $den
            ##
            #set $data_date = '600000000000'
            #if $cur_airs_next
                #set $data_date = $sbdatetime.sbdatetime.convert_to_setting($network_timezones.parse_date_time($cur_airs_next, $curShow.airs, $curShow.network)).strftime('%Y%m%d%H%M')
            #else if None is not $display_status
                #if 'nded' not in $display_status and 1 == int($curShow.paused)
                    #set $data_date = '500000000500'
                #else if 'ontinu' in $display_status
                    #set $data_date = '500000000000'
                #else if 'nded' in $display_status
                    #set $data_date = '500000000100'
                #end if
            #end if
            ##
					<div id="show$curShow.indexerid" class="show-card pre-gutter" data-name="$curShow.name" data-date="$data_date" data-network="$curShow.network">
						<div class="show-card-top">
							<div class="show-image pre-border">
								<a href="$sg_root/home/displayShow?show=$curShow.indexerid">
            #if $load_normal > $poster_id
									<img alt="" class="show-image" src="$sg_root/showPoster/?show=$curShow.indexerid&amp;which=poster_thumb">
            #else
									<img id="poster-$poster_id" alt="" class="show-image" data-original="$sg_root/showPoster/?show=$curShow.indexerid&amp;which=poster_thumb">
									<span id="loading-poster-$poster_id" class="lazy-loading-image"><i class="spinner"></i></span>
            #end if
								</a>
							</div>

							<div class="show-div pre-render"></div>

							<div class="show-title">
								$display_name
							</div>

							<div class="show-date">
            #if $cur_airs_next
                #set $ldatetime = $sbdatetime.sbdatetime.convert_to_setting($network_timezones.parse_date_time($cur_airs_next,$curShow.airs,$curShow.network))
								<span class="$fuzzydate">$sbdatetime.sbdatetime.sbfdate($ldatetime)</span>
            #else
                #set $output_html = '?'
                #if None is not $display_status
                    #if 'nded' not in $display_status and 1 == int($curShow.paused)
                        #set $output_html = 'Paused'
                    #else if $display_status
                        #set $output_html = $display_status
                    #end if
                #end if
								$output_html
            #end if
							</div><!-- /show-date -->

							<dl class="pre-render">
								<dd class="show-table dlstats">
									<span class="show-dlstats" title="$download_stat_tip">$download_stat</span>
								</dd>

								<dd class="show-table show-network">
            #set $img_text = ($curShow.network, 'No Network')[None is $curShow.network]
            #if 'No Network' is not $img_text and 'nonetwork' in $network_images[$curShow.indexerid]
									$curShow.network
            #else
									<img class="show-network-image" src="$sg_root/images/network/$network_images[$curShow.indexerid]" alt="$img_text" title="$img_text">
            #end if
								</dd>

								<dd class="show-table quality">
            #if $curShow.quality in $qualityPresets
									<span class="show-quality">$qualityPresetStrings[$curShow.quality]</span>
            #else
									<span class="show-quality">Custom</span>
            #end if
								</dd>
							</dl>
						</div>
						<div id="progressbar$curShow.indexerid"></div>
						<span class="sort-data" data-progress="$progressbar_percent"></span>
					</div><!-- /show$curShow.indexerid -->
        #end for
				</div>
			</div><!-- /$curListID -->

########################
## end of poster layout
########################
    #else

			<table id="$curListID" class="tablesorter" style="clear:both">
				<thead>
					<tr>
						<th>Next Ep</th>
						<th>Show</th>
						<th>Network</th>
						<th>Quality</th>
						<th>Downloads</th>
						<th>Active</th>
						<th>Status</th>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<th><a href="$sg_root/home/addShows/">Add Show</a></th>
						<th colspan="6"></th>
					</tr>
				</tfoot>

				<tbody>
        #for $curLoadingShow in $sickbeard.showQueueScheduler.action.loadingShowList
            #if $curLoadingShow.show != None and $curLoadingShow.show in $sg_str('showList')
                #continue
            #end if
            ##
					<tr>
						<td>(loading)</td>
						<td class="text-left">
            #if None is $curLoadingShow.show
							Loading... ($curLoadingShow.show_name)
            #else
							<a href="$sg_root/home/displayShow?show=$curLoadingShow.show.indexerid">$curLoadingShow.show.name</a>
            #end if
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
        #end for
        ##
        #set void = $myShowList.sort(lambda x, y: cmp(x.name, y.name))
        ##
        #set $load_normal = 0
        #for $curShow in $myShowList
            ##
            #set $cur_airs_next = ''
            #set $cur_snatched = 0
            #set $cur_downloaded = 0
            #set $cur_total = 0
            #set $download_stat_tip = ''
            #set $display_name = (re.sub('^((?:A(?!\s+to)n?)|The)\s(\w)', r'<span class="article">\1</span> \2', $curShow.name), $curShow.name)[$sg_var('SORT_ARTICLE')]
            #set $poster_id += 1
            ##
            #if $curShow.indexerid in $show_stat
                #set $cur_airs_next = $show_stat[$curShow.indexerid]['ep_airs_next']
                ##
                #set $cur_snatched = $show_stat[$curShow.indexerid]['ep_snatched']
                #if not $cur_snatched
                    #set $cur_snatched = 0
                #end if
                ##
                #set $cur_downloaded = $show_stat[$curShow.indexerid]['ep_downloaded']
                #if not $cur_downloaded
                    #set $cur_downloaded = 0
                #end if
                ##
                #set $cur_total = $show_stat[$curShow.indexerid]['ep_total']
                #if not $cur_total
                    #set $cur_total = 0
                #end if
            #end if
            ##
            #if $cur_total != 0
                #set $download_stat = str($cur_downloaded)
                #set $download_stat_tip = 'Downloaded: ' + str($cur_downloaded)
                #if $cur_snatched > 0
                    #set $download_stat = '%s<a class="ui-font" href="%s/manage/episode_statuses?which_status=2" title="View overview of snatched episodes">+%s</a>' % ($download_stat, $sg_root, $cur_snatched)
                    #set $download_stat_tip = download_stat_tip + '&#013;' + 'Snatched: ' + str($cur_snatched)
                #end if
                #set $download_stat = download_stat + ' / ' + str($cur_total)
                #set $download_stat_tip = download_stat_tip + '&#013;' + 'Total: ' + str($cur_total)
            #else
                #set $download_stat = '?'
                #set $download_stat_tip = 'no data'
            #end if
            ##
            #set $nom = $cur_downloaded
            #set $den = $cur_total
            #if $den == 0
                #set $den = 1
            #end if
            ##
            #set $progressbar_percent = $nom * 100 / $den
            #if not $progressbar_percent
                #set $progressbar_percent = (0, -1)['?' == $download_stat]
            #end if
            ##
					<tr class="#echo ('even', 'odd')[bool($poster_id % 2)]#">
            #if $cur_airs_next
                #set $ldatetime = $sbdatetime.sbdatetime.convert_to_setting($network_timezones.parse_date_time($cur_airs_next,$curShow.airs,$curShow.network))
				<td class="text-nowrap"><div class="$fuzzydate">$sbdatetime.sbdatetime.sbfdate($ldatetime)</div><span class="sort-data">$ldatetime.strftime('%Y%m%d%H%M')</span></td>
            #else
						<td></td>
            #end if
            #if 'small' == $layout

						<td class="tvShow text-left">
							<div class="imgsmallposter $layout">
								<a href="$sg_root/showPoster/?show=$curShow.indexerid&amp;which=poster" rel="dialog" title="$curShow.name" class="poster">
            #if $load_normal > $poster_id
									<img src="$sg_root/showPoster/?show=$curShow.indexerid&amp;which=poster_thumb" class="$layout" alt="$curShow.indexerid">
            #else
									<img id="poster-$poster_id" data-original="$sg_root/showPoster/?show=$curShow.indexerid&amp;which=poster_thumb" class="$layout" alt="$curShow.indexerid">
									<span id="loading-poster-$poster_id" class="lazy-loading-image"><i class="spinner"></i></span>
            #end if
								</a>
								<a href="$sg_root/home/displayShow?show=$curShow.indexerid" class="title" style="">$display_name</a>
							</div>
						</td>
            #else if 'banner' == $layout

						<td class="text-left">
							<div class="imgbanner $layout">
								<a href="$sg_root/home/displayShow?show=$curShow.indexerid">
                #if $load_normal > $poster_id
									<img src="$sg_root/showPoster/?show=$curShow.indexerid&amp;which=banner" class="$layout" alt="$curShow.indexerid" title="$curShow.name">
                #else
									<img id="poster-$poster_id" data-original="$sg_root/showPoster/?show=$curShow.indexerid&amp;which=banner" class="$layout" alt="$curShow.indexerid" title="$curShow.name">
									<span id="loading-poster-$poster_id" class="lazy-loading-image"><i class="spinner"></i></span>
                #end if
								</a>
							</div>
							<span class="sort-data">$display_name</span>
						</td>
            #else if 'simple' == $layout

						<td class="tvShow text-left"><a href="$sg_root/home/displayShow?show=$curShow.indexerid">$display_name</a></td>
            #end if
            #if 'simple' != $layout
                #set $img_text = ($curShow.network, 'No Network')[None is $curShow.network]

						<td>
                #if 'No Network' is not $img_text and 'nonetwork' in $network_images[$curShow.indexerid]
							$curShow.network
                #else
							<img width="54" height="27" src="$sg_root/images/network/$network_images[$curShow.indexerid]" alt="#echo '%s" title="%s' % ($img_text, $img_text)#">
							<span class="sort-data">$curShow.network</span>
                #end if
						</td>
            #else

						<td class="text-left">
							<span>$curShow.network</span>
							<span class="sort-data">$curShow.network</span>
						</td>
            #end if
            #if $curShow.quality in $qualityPresets

						<td><span class="quality $qualityPresetStrings[$curShow.quality]">$qualityPresetStrings[$curShow.quality]</span></td>
            #else

						<td><span class="quality Custom">Custom</span></td>
            #end if

						<td>
							<div id="progressbar$curShow.indexerid" style="position:relative">
								<div class="progressbarText ui-font" title="$download_stat_tip">$download_stat</div>
							</div>
							<span class="sort-data" data-progress="$progressbar_percent"></span>
						</td>

						<td>
							<i class=#echo '"%s" alt="%s"' % (('no', 'N'),('yes', 'Y'))[0 == int($curShow.paused) and 'Ended' != $curShow.status]#></i>
						</td>

						<td>
            #set $display_status = $curShow.status
            #if None is not $display_status
                #if re.search(r'(?i)(?:(?:new|returning)\s*series|upcoming)', $curShow.status)
                    #set $display_status = 'Continuing'
                #else if re.search(r'(?i)(?:nded)', $curShow.status)
                    #set $display_status = 'Ended'
                #end if
            #end if
					$display_status
						</td>
					</tr>
        #end for
				</tbody>
			</table>

    #end if
		</div>
#end for
#if $default_showlist
		<div id="core-component-assist" class="component-group">
			<p style="padding:15px 15px 0;clear:both">
		        Group shows into <span class="grey-text">"Custom Lists"</span> (e.g. Top Shows, Kids, Adults, Mum, Maggie, Sports, Parent Folder)
			</p><p style="padding:15px 15px 10px">
			    Groups display as tabs that can be dragged into an order where the left tab is default
			</p><p style="padding:15px 15px 10px">
		        Click the <i style="margin:0 5px" class="btn btn-yellow">More Gear</i>
		        button at the top of <a class="addQTip" href="$sbRoot/config/general/#core-component-group2" title="Group show list shows">General/Settings/Interface</a>
			</div>
		</div>
#end if
	</div> <!-- /config-components -->
##

#if $varExists('fanart')
#include $os.path.join($sg_str('PROG_DIR'), 'gui/slick/interfaces/default/inc_livepanel.tmpl')
#end if
#include $os.path.join($sg_str('PROG_DIR'), 'gui/slick/interfaces/default/inc_bottom.tmpl')
