#import sickbeard
#from sickbeard.helpers import anon_url

<table id="addRootDirTable" class="sickbeardTable tablesorter">
	<thead>
		<tr>
			<th class="col-checkbox">
				<input type="checkbox" id="checkAll" checked=checked>
			</th>
			<th>Parent\show folder</th>
			<th width="20%">Show name<br />(tvshow.nfo)</th>
			<th width="15%">TV info source</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th rowspan="1" colspan="4" align="left">
				<a href="#" class="showManage">Manage Directories</a>
			</th>
		</tr>
	</tfoot>
	<tbody>
#for $curDir in $dirList
    #if $curDir['added_already'] and None is $curDir.get('highlight')
        #continue
    #end if

    #set $show_id = $curDir['dir']
    #if $curDir['existing_info'][0]
        #set $show_id = $show_id + '|' + $str($curDir['existing_info'][0]) + '|' + $str($curDir['existing_info'][1])
        #set $indexer = $curDir['existing_info'][2]
    #end if

	#set $indexer = $sickbeard.INDEXER_DEFAULT

#*
    #set $indexer = 0
    #if $curDir['existing_info'][0]
        #set $indexer = $curDir['existing_info'][2]
    #elif 0 < $sickbeard.INDEXER_DEFAULT
        #set $indexer = $sickbeard.INDEXER_DEFAULT
    #end if
*#
		<tr>
			<td class="col-checkbox">
				<input type="checkbox" id="$show_id" class="dirCheck" checked=checked>
			</td>
			<td>
				<label for="$show_id">
					<span class="filepath#echo ('', ' red-text')[$curDir['highlight']]#">$curDir['path']</span>$curDir['name']
					#echo ('', '<br />^ <span class="red-text">... (cannot add, this location is in use)</span>')[$curDir['highlight']]#
				</label>
			</td>
    #if $curDir['existing_info'][1] and $indexer > 0
			<td>
				<a href="<%= anon_url(sickbeard.indexerApi(indexer).config['show_url'], curDir['existing_info'][0]) %>" target="_new">$curDir['existing_info'][1]</a>
			</td>
    #else
			<td>?</td>
    #end if
			<td align="center">
				<select name="indexer">
    #for $curIndexer in $sickbeard.indexerApi().indexers.items()
					#if $curIndexer[0] == $sickbeard.INDEXER_DEFAULT
					<option value="$curIndexer[0]" #if $curIndexer[0] == $indexer then 'selected="selected"' else ''#>$curIndexer[1]</option>
					#end if
    #end for
				</select>
			</td>
		</tr>
#end for
	</tbody>
</table>
