#import sickbeard
#from sickbeard.common import *
##
#set global $title = 'Existing Show'
#set global $header = 'Existing Show'
#set global $sbPath = '../..'
#set global $statpath = '../..'
#set global $topmenu = 'home'
##
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_top.tmpl')

<script type="text/javascript" charset="utf-8">
<!--
var config = { sortArticle: #echo ['!1','!0'][$sickbeard.SORT_ARTICLE]# }
\$.sgSid = '$kwargs.get('sid', '')';
\$.sgHashDir = '$kwargs.get('hash_dir', '')';
\$(document).ready(function(){
	\$('#tabs').tabs({ collapsible: !0, selected: #echo ('0','-1')[any($sickbeard.ROOT_DIRS)]# });
});
//-->
</script>
<script type="text/javascript" src="$sbRoot/js/qualityChooser.js?v=$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/addExistingShow.js?v=$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/rootDirs.js?v=$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/addShowOptions.js?v=$sbPID"></script>

#if $varExists('header')
	<h1 class="header">$header</h1>
#else
	<h1 class="title">$title</h1>
#end if

<image class="preload-image" style="position:absolute;top:-999px" src="$sbRoot/images/loading32<%= '-dark' if 'dark' == sickbeard.THEME_NAME else '' %>.gif" width="32" height="32" border="0">

<form id="addShowForm" method="post" action="$sbRoot/home/addShows/addNewShow" accept-charset="utf-8">

	<span#if $kwargs.get('hash_dir', None)# class="hide"#end if#>
		<p>Tip: shows are added quicker when usable show nfo and xml metadata is found</p>

		<p style="margin-top:15px">
			<input type="checkbox" id="promptForSettings" name="promptForSettings" style="vertical-align: top;" />
			<label for="promptForSettings">Enable to change the following options per show, otherwise use these options with all shows added below</label>
		</p>

		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Manage parent folders</a></li>
				<li><a href="#tabs-2">Custom options</a></li>
			</ul>
			<div id="tabs-1" class="existingtabs">
				<div style="width: 430px; margin: 0px auto">
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_rootDirs.tmpl')
				</div>
			</div>
			<div id="tabs-2">
				<div class="stepDiv">
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_addShowOptions.tmpl')
				</div>
			</div>
		</div>

		<br />
		<hr />
	</span>

	<p>The following parent folder$multi_parents scanned for
		#if not $kwargs.get('hash_dir', None)#existing shows. Toggle a folder to display shows#else#the existing show...#end if#
	</p>

	<ul id="rootDirStaticList">
		<li></li>
	</ul>

#if not $kwargs.get('hash_dir', None)
	<p>shows <span class="boldest">not known</span> to SickGear are listed below...</p>
#end if

	<div id="tableDiv"></div>

	<br />
#if not $kwargs.get('hash_dir', None)
	<p>If you tried to add a show, arrived here and can't see the folder, then that show may already be in your show list.</p>
#end if

	<input class="btn btn-primary" type="button" value="#if $kwargs.get('hash_dir', None)#Redo Search#else#Submit#end if#" id="submitShowDirs" />

</form>

#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_bottom.tmpl')
