#import sickbeard
#from sickbeard.common import *
#from sickbeard import subtitles
        <div class="stepDiv linefix">
		<div class="field-pair">
			<label for="statusSelect">
				<span class="component-title">Initial episode status</span>
				<span class="component-desc">
					<select name="defaultStatus" id="statusSelect" class="form-control form-control-inline input-sm">
#for $curStatus in [$SKIPPED, $WANTED, $ARCHIVED, $IGNORED]:
						<option value="$curStatus" #if $sickbeard.STATUS_DEFAULT == $curStatus then 'selected="selected"' else ''#>$statusStrings[$curStatus]</option>
#end for
					</select>
					<span>set the initial status of missing episodes</span>
				</span>
			</label>
		</div>

		<div class="field-pair alt">
			<p class="grey-text">Tip: The following options are <span style="font-weight:800">edit</span>able later in the detail view of the show</p>
		</div>

		<div class="field-pair">
#set $qualities = $Quality.splitQuality($sickbeard.QUALITY_DEFAULT)
#set global $anyQualities = $qualities[0]
#set global $bestQualities = $qualities[1]
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_qualityChooser.tmpl')
		</div>

#try:
    #if True == $enable_default_wanted:
		<div class="field-pair alt">
			<span class="component-title">From season 1 forward, set</span>
			<span class="component-desc">
				<label for="wanted_begin" style="padding-bottom:10px">
					<input type="number" name="wanted_begin" id="wanted_begin" value="$sickbeard.WANTED_BEGIN_DEFAULT" class="form-control input-sm input75">
					<span>episodes as wanted (10 ... 0, and where -1 is whole first season)</span>
				</label>
			</span>
			<span class="component-title">From latest going back, set</span>
			<span class="component-desc">
				<label for="wanted_latest">
					<input type="number" name="wanted_latest" id="wanted_latest" value="$sickbeard.WANTED_LATEST_DEFAULT" class="form-control input-sm input75">
					<span>episodes as wanted (10 ... 0, and where -1 is whole latest season)</span>
				</label>
			</span>
		</div>
    #end if
#except (NameError, NotFound):
    #pass
#end try

		<div class="field-pair #if $sickbeard.SHOWLIST_TAGVIEW != 'custom' then 'hidden' else ''#" style="margin-top:10px">
			<label for="tag">
				<span class="component-title">Place show in group</span>
				<span class="component-desc">
					<select name="tag" id="tag" class="form-control form-control-inline input-sm">
#for $tag in $sickbeard.SHOW_TAGS:
						<option value="$tag" #if $tag == $getattr(sickbeard, 'SHOW_TAG_DEFAULT', $getattr(sickbeard, 'DEFAULT_SHOW_TAG', None)) then 'selected="selected"' else ''#>$tag</option>
#end for
					</select>
					<span>and display on the show list page under this section</span>
				</span>
			</label>
		</div>

		<div class="field-pair alt">
			<label for="flatten_folders">
				<span class="component-title">Flat folder structure</span>
				<span class="component-desc">
					<input class="cb" type="checkbox" name="flatten_folders" id="flatten_folders" #if $sickbeard.FLATTEN_FOLDERS_DEFAULT then "checked=\"checked\"" else ""# />
					<p>do not create sub folders</p>
				</span>
			</label>
		</div>

		<div class="field-pair alt">
			<label for="scene">
				<span class="component-title">Scene numbering</span>
				<span class="component-desc">
					<input type="checkbox" name="scene" id="scene" #if $sickbeard.SCENE_DEFAULT then "checked=\"checked\"" else ""# />
					<p>search for episodes numbered by scene groups instead of by the TV network<span id="scene-maps-found" style="display:none" class="grey-text"> (scene numbers found)</span></p>
				</span>
			</label>
		</div>

#if $sickbeard.USE_SUBTITLES:
		<div class="field-pair alt">
			<label for="subtitles">
				<span class="component-title">Subtitles</span>
				<span class="component-desc">
					<input type="checkbox" name="subtitles" id="subtitles" #if $sickbeard.SUBTITLES_DEFAULT then "checked=\"checked\"" else ""# />
					<p>download subtitles for this show</p>
				</span>
			</label>
		</div>
#end if

#if $enable_anime_options
		<div class="field-pair alt">
			<label for="anime">
				<span class="component-title">Show is anime</span>
				<span class="component-desc">
					<input type="checkbox" name="anime" id="anime" #if $sickbeard.ANIME_DEFAULT or $kwargs.get('is_anime') then "checked=\"checked\"" else ""# />
					<p>enable if this show is anime and episode releases are named ... <em class="grey-text">Show.265</em> instead of <em class="grey-text">Show.S02E03</em></p>
				</span>
			</label>
		</div>

#end if
		<div class="field-pair alt" style="margin-top:20px">
			<label for="saveDefaultsButton">
				<span class="component-title">Save options as defaults</span>
				<span class="component-desc">
					<input class="btn btn-inline" type="button" id="saveDefaultsButton" value="Save Defaults" disabled="disabled" />
					<p>reuse the above options when adding more shows</p>
				</span>
			</label>
		</div>
		</div>

#if $enable_anime_options
#import sickbeard.blackandwhitelist
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_blackwhitelist.tmpl')
#else
		<input type="hidden" name="anime" id="anime" value="0" />
#end if
