#import sickbeard
#from sickbeard.helpers import findCertainShow
##
#set global $title = 'Show Processes'
#set global $header = 'Show Processes'
#set global $sbPath = '..'
#set global $topmenu = 'manage'
##
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_top.tmpl')

<script type="text/javascript" src="$sbRoot/js/manageShowProcesses.js?v=$sbPID" xmlns="http://www.w3.org/1999/html"></script>
<div id="content800">
#if $varExists('header')
	<h1 class="header">$header</h1>
#else
	<h1 class="title">$title</h1>
#end if

<div id="summary2" class="align-left">
<h3> Daily Show Update:</h3>
<a id="showupdatebutton" class="btn#if $ShowUpdateRunning# disabled#end if#" href="$sbRoot/manage/showProcesses/forceShowUpdate"><i class="sgicon-play"></i> Force</a>
#if not $ShowUpdateRunning:
	Not in progress<br />
#else:
	Currently running<br />
#end if
</br>
<h3>Show Queue:</h3>
</br>
#if $queueLength['add'] or $queueLength['update'] or $queueLength['refresh'] or $queueLength['rename'] or $queueLength['subtitle']
	<input type="button" class="show-all-more btn" id="all-btn-more" value="Expand All"><input type="button" class="show-all-less btn" id="all-btn-less" value="Collapse All"></br>
#end if
</br>
Add: <i>$len($queueLength['add']) show$sickbeard.helpers.maybe_plural($len($queueLength['add']))</i>
#if $queueLength['add']
	<input type="button" class="shows-more btn" id="add-btn-more" value="Expand" #if not $queueLength['add']# style="display:none" #end if#><input type="button" class="shows-less btn" id="add-btn-less" value="Collapse"  style="display:none"></br>
	<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
		<thead></thead>
		<tbody>
		#set $row = 0
		#for $cur_show in $queueLength['add']:
			#set $show_name = str($cur_show['name'])
			<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
				<td style="width:80%;text-align:left;color:white">$show_name</td>
				<td style="width:20%;text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled#end if#</td>
			</tr>
		#end for
		</tbody>
	</table>
#else
	</br>
#end if
</br>
Update <span class="grey-text">(Forced / Forced Web)</span>: <i>$len($queueLength['update']) <span class="grey-text">($len($queueLength['forceupdate']) / $len($queueLength['forceupdateweb']))</span> show$sickbeard.helpers.maybe_plural($len($queueLength['update']))</i>
#if $queueLength['update']
	<input type="button" class="shows-more btn" id="update-btn-more" value="Expand" #if not $queueLength['update']# style="display:none" #end if#><input type="button" class="shows-less btn" id="update-btn-less" value="Collapse" style="display:none"></br>
	<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
		<thead></thead>
		<tbody>
		#set $row = 0
		#for $cur_show in $queueLength['update']:
			#set $show = $findCertainShow($showList, $cur_show['indexerid'])
			#set $show_name = $show.name if $show else str($cur_show['name'])
			<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
				<td style="width:80%;text-align:left">
					<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_show['indexerid']">$show_name</a>
				</td>
				<td style="width:20%;text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled, #end if#$cur_show['update_type']</td>
			</tr>
		#end for
		</tbody>
	</table>
#else
	</br>
#end if
</br>
Refresh: <i>$len($queueLength['refresh']) show$sickbeard.helpers.maybe_plural($len($queueLength['refresh']))</i>
#if $queueLength['refresh']
	<input type="button" class="shows-more btn" id="refresh-btn-more" value="Expand" #if not $queueLength['refresh']# style="display:none" #end if#><input type="button" class="shows-less btn" id="refresh-btn-less" value="Collapse" style="display:none"></br>
	<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
		<thead></thead>
		<tbody>
		#set $row = 0
		#for $cur_show in $queueLength['refresh']:
			#set $show = $findCertainShow($showList, $cur_show['indexerid'])
			#set $show_name = $show.name if $show else str($cur_show['name'])
			<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
				<td style="width:80%;text-align:left">
					<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_show['indexerid']">$show_name</a>
				</td>
				<td style="width:20%;text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled#end if#</td>
			</tr>
		#end for
		</tbody>
	</table>
#else
	</br>
#end if
</br>
Rename: <i>$len($queueLength['rename']) show$sickbeard.helpers.maybe_plural($len($queueLength['rename']))</i>
#if $queueLength['rename']
<input type="button" class="shows-more btn" id="rename-btn-more" value="Expand" #if not $queueLength['rename']# style="display:none" #end if#><input type="button" class="shows-less btn" id="rename-btn-less" value="Collapse" style="display:none"></br>

	<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
	<thead></thead>
	<tbody>
	#set $row = 0
	#for $cur_show in $queueLength['rename']:
		#set $show = $findCertainShow($showList, $cur_show['indexerid'])
		#set $show_name = $show.name if $show else str($cur_show['name'])
		<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
			<td style="width:80%;text-align:left">
				<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_show['indexerid']">$show_name</a>
			</td>
			<td style="width:20%;text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled#end if#</td>
		</tr>
	#end for
	</tbody>
</table>
#else
	</br>
#end if
#if $sickbeard.USE_SUBTITLES
	</br>
	Subtitle: <i>$len($queueLength['subtitle']) show$sickbeard.helpers.maybe_plural($len($queueLength['subtitle']))</i>
	#if $queueLength['subtitle']
		<input type="button" class="shows-more btn" id="subtitle-btn-more" value="Expand" #if not $queueLength['subtitle']# style="display:none" #end if#><input type="button" class="shows-less btn" id="subtitle-btn-less" value="Collapse" style="display:none"></br>
		<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
			<thead></thead>
			<tbody>
			#set $row = 0
			#for $cur_show in $queueLength['subtitle']:
				#set $show = $findCertainShow($showList, $cur_show['indexerid'])
				#set $show_name = $show.name if $show else str($cur_show['name'])
				<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
					<td style="width:80%;text-align:left">
						<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_show['indexerid']">$show_name</a>
					</td>
					<td style="width:20%;text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled#end if#</td>
				</tr>
			#end for
			</tbody>
		</table>
	#else
		</br>
	#end if
#end if
</div>
</div>
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_bottom.tmpl')