#import sickbeard
#import datetime
#from sickbeard.common import (Overview, statusStrings, ARCHIVED, FAILED, IGNORED, SKIPPED,
    SNATCHED, SNATCHED_ANY, UNKNOWN, WANTED, DOWNLOADED)
##
#set global $title = 'Episode Overview'
#set global $header = 'Episode Overview'
#set global $sbPath = '..'
#set global $topmenu = 'manage'
##
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_top.tmpl')

#if $varExists('header')
	<h1 class="header">$header</h1>
#else
	<h1 class="title">$title</h1>
#end if
##
#if not $which_status or ($which_status and not $ep_counts)
##
    #if $which_status:
	<h3>no episodes have status <span class="grey-text">$statusStrings[$which_status].lower()</span></h3>
    #end if

	<form action="$sbRoot/manage/episode_statuses" method="get">

		Manage episodes with status
		<select name="which_status" class="form-control form-control-inline input-sm" style="margin:0 10px">

    #for $curStatus in [$SKIPPED, $UNKNOWN, $SNATCHED, $WANTED, $ARCHIVED, $IGNORED, $DOWNLOADED]:
			<option value="$curStatus"#echo ('', ' selected="selected"')[$curStatus == $default_manage]#>$statusStrings[$curStatus]</option>
    #end for

		</select>
		<input class="btn btn-inline" type="submit" value="Manage">
	</form>
##
#else
    #if $which_status == $IGNORED:
        #set $row_class = 'skipped'
    #elif $which_status == $ARCHIVED:
        #set $row_class = 'good'
    #elif $which_status == $SNATCHED:
        #set $row_class = 'snatched'
    #else
        #set $row_class = $Overview.overviewStrings[$which_status]
    #end if

    #set $statusList = [$ARCHIVED, $IGNORED, $SKIPPED]
    #if $DOWNLOADED == $which_status:
        #set $statusList = [$ARCHIVED]
    #elif $ARCHIVED == $which_status:
        #set $statusList = [$SKIPPED, $DOWNLOADED, $ARCHIVED, $IGNORED]
    #end if
    #if $which_status in $statusList
        $statusList.remove($which_status)
    #end if

    #if $which_status in $SNATCHED_ANY
        $statusList.append($FAILED)
    #end if

<script type="text/javascript" src="$sbRoot/js/manageEpisodeStatuses.js?v=$sbPID"></script>
	<form action="$sbRoot/manage/change_episode_statuses" method="post">
		$xsrf_form_html

		<input type="hidden" id="old-status" name="old_status" value="$which_status">

		<h3><span class="grey-text">$ep_count</span> episode#echo ('s', '')[1 == $ep_count]# marked <span class="grey-text">$statusStrings[$which_status].lower()</span> in <span class="grey-text">${len($sorted_show_ids)}</span> show#echo ('s', '')[1 == len($sorted_show_ids)]#</h3>

		<input type="hidden" id="row-class" value="$row_class">

		<div class="form-group">
			<span>Set checked shows/episodes to</span>
			<select id="set-status" name="new_status" class="form-control form-control-inline input-sm" style="margin:0 10px 0 5px">
    #for $curStatus in $statusList:
				<option value="$curStatus">$statusStrings[$curStatus]</option>
    #end for
			</select>
			<input class="btn btn-inline go" type="submit" value="Go">

    #if $DOWNLOADED != $which_status:
			<span class="red-text" style="margin:0 0 0 30px">Override checked status to</span>
			<select name="wanted_status" class="form-control form-control-inline input-sm" style="margin:0 10px 0 5px">
				<option value="$UNKNOWN">nothing</option>
				<option value="$WANTED">$statusStrings[$WANTED]</option>
			</select>
			<input class="btn btn-inline go" type="submit" value="Go">
	#end if
		</div>

		<div class="form-group">
			<input type="button" class="btn btn-xs selectAllShows" value="Select all">
			<input type="button" class="btn btn-xs unselectAllShows" value="Clear all">
			<input type="button" class="btn btn-xs expandAll" value="Expand All Shows">
		</div>

<style>
	.manageTable tr{line-height:26px}
	.recommend{margin-left:20px}
</style>
		<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0">
			<thead></thead>
			<tbody>
    #set $row = 0
    #for $cur_indexer_id in $sorted_show_ids:
        #if 0 == int($never_counts[$cur_indexer_id])
            #set $output = '%d' % $ep_counts[$cur_indexer_id]
        #elif $ep_counts[$cur_indexer_id] != $never_counts[$cur_indexer_id]
            #set $diff = $ep_counts[$cur_indexer_id] - $never_counts[$cur_indexer_id]
            #set $output = '%d' % $diff + ('', (' episode%s plus %s never with an airdate' % (('s', '')[1 == $ep_counts[$cur_indexer_id]], $never_counts[$cur_indexer_id])))[0 < $never_counts[$cur_indexer_id]]
        #else
            #set $output = '%s never with an airdate' % (('all %s %ss', '%s %s')[1 == $ep_counts[$cur_indexer_id]] % ($ep_counts[$cur_indexer_id], 'episode'))
        #end if
				<tr id="$cur_indexer_id" class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
					<td><input type="checkbox" class="allCheck" id="allCheck-$cur_indexer_id" name="$cur_indexer_id-all"></td>
					<td colspan="2" style="width:100%;text-align:left">
						<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_indexer_id">$show_names[$cur_indexer_id]</a> <span style="color:#999">($output)</span><input type="button" class="pull-right get_more_eps btn" id="$cur_indexer_id-more" value="Expand"><input type="button" class="pull-right get_less_eps btn" id="$cur_indexer_id-less" value="Collapse">
					</td>
				</tr>
    #end for
			</tbody>
		</table>
	</form>

#end if
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_bottom.tmpl')
