#import sickbeard
#from sickbeard.helpers import findCertainShow, maybe_plural
##
#set global $title = 'Show Processes'
#set global $header = 'Show Processes'
#set global $sbPath = '..'
#set global $topmenu = 'manage'
##
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_top.tmpl')

<script type="text/javascript" src="$sbRoot/js/manageShowProcesses.js?v=$sbPID" xmlns="http://www.w3.org/1999/html"></script>
<div id="content800">
#if $varExists('header')
	<h1 class="header">$header</h1>
#else
	<h1 class="title">$title</h1>
#end if

	<div id="summary2" class="align-left">
		<h3>Daily show update:</h3>
		<a id="showupdatebutton" class="btn#if $show_update_running# disabled#end if#" href="$sbRoot/manage/showProcesses/forceShowUpdate"><i class="sgicon-play"></i> Force</a>
#if not $show_update_running:
		Not in progress<br />
#else:
		Currently running<br />
#end if
		<br>
#if $not_found_shows
    #set $num_errors = $len($not_found_shows)
    #set $err_class = ('', ' errors ' + ($num_errors * 'n')[0:4])[any([$num_errors])]
		<h3>$num_errors Show$maybe_plural($num_errors) with abandoned master ID$maybe_plural($num_errors):</h3>
		<p>List of show(s) with changed ID at the TV info source. Click show name to get new ID, so that episode info updates may continue</p>
		<input type="button" class="shows-more btn" id="notfound-btn-more" value="Expand" style="display:none"><input type="button" class="shows-less btn" id="notfound-btn-less" value="Collapse"><br>
		<table class="sickbeardTable tablesorter manageTable" cellspacing="1" border="0" cellpadding="0">
			<thead>
				<tr>
					<th style="text-align:left">Show name</th>
					<th style="width:20%;white-space:nowrap">Last found</th>
					<th style="width:10%;white-space:nowrap">Ignore Warn</th>
				</tr>
			</thead>
			<tbody>
    #set $row = 0
    #for $cur_show in $not_found_shows:
				<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
					<td style="text-align:left">
						<span style="padding-right:5px" class="logger item snf"><i class="sgicon-warning"></i></span><a class="whitelink" href="$sbRoot/home/editShow?show=$cur_show['indexer_id']&tvsrc=0&srcid=$cur_show['indexer_id']#core-component-group3">$cur_show['show_name']</a>
					</td>
					<td style="text-align:center;color:white">
						$cur_show['last_success']</td>
					<td>
						<input class="nowarnicon" type="checkbox" #if $cur_show['ignore_warning'] then 'checked="checked"' else ''# data-indexer="$cur_show['indexer']" data-indexer-id="$cur_show['indexer_id']">
					</td>
				</tr>
    #end for
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2" style="text-align:right"><span>Note: Ignored shows will still not get updates unless edited</span></td>
					<td>
						<input id="save-nowarnicon" type="button" class="btn" value="Save">
					</td>
				</tr>
			</tfoot>
		</table>
#end if
#if $defunct_indexer

		<h3>Shows from defunct TV info sources:</h3>
		<input type="button" class="shows-more btn" id="defunct-btn-more" value="Expand" style="display:none"><input type="button" class="shows-less btn" id="defunct-btn-less" value="Collapse"><br>
		<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0">
			<thead>
				<tr>
					<th style="text-align:left">Show name</th>
				</tr>
			</thead>
			<tbody>
    #set $row = 0
    #for $cur_show in $defunct_indexer:
				<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
					<td style="text-align:left">
						<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_show['indexer_id']">$cur_show['show_name']</a>
					</td>
				</tr>
    #end for
			</tbody>
		</table>
#end if

		<h3>Show queue:</h3>
#if $queue_length['add'] or $queue_length['update'] or $queue_length['refresh'] or $queue_length['rename'] or $queue_length['subtitle']
		<br>
		<input type="button" class="show-all-more btn" id="all-btn-more" value="Expand All"><input type="button" class="show-all-less btn" id="all-btn-less" value="Collapse All"><br>
#end if
		<br>
		Add: <i>$len($queue_length['add']) show$sickbeard.helpers.maybe_plural($len($queue_length['add']))</i>
#if $queue_length['add']
		<input type="button" class="shows-more btn" id="add-btn-more" value="Expand" #if not $queue_length['add']# style="display:none" #end if#><input type="button" class="shows-less btn" id="add-btn-less" value="Collapse"  style="display:none"><br>
		<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
			<thead>
				<tr>
					<th style="width:80%;text-align:left">Show name</th>
					<th style="width:20%">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
    #set $row = 0
    #for $cur_show in $queue_length['add']:
        #set $show_name = str($cur_show['name'])
				<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
					<td style="text-align:left;color:white">$show_name</td>
					<td style="text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled#end if#</td>
				</tr>
    #end for
			</tbody>
		</table>
#else
		<br>
#end if
		<br>
		Update <span class="grey-text">(Forced / Forced Web)</span>: <i>$len($queue_length['update']) <span class="grey-text">($len($queue_length['forceupdate']) / $len($queue_length['forceupdateweb']))</span> show$sickbeard.helpers.maybe_plural($len($queue_length['update']))</i>
#if $queue_length['update']
		<input type="button" class="shows-more btn" id="update-btn-more" value="Expand" #if not $queue_length['update']# style="display:none" #end if#><input type="button" class="shows-less btn" id="update-btn-less" value="Collapse" style="display:none"><br>
		<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
			<thead>
				<tr>
					<th style="width:80%;text-align:left">Show name</th>
					<th style="width:20%">Schedule type</th>
				</tr>
			</thead>
			<tbody>
    #set $row = 0
    #for $cur_show in $queue_length['update']:
        #set $show = $findCertainShow($show_list, $cur_show['indexerid'])
        #set $show_name = $show.name if $show else str($cur_show['name'])
				<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
					<td style="text-align:left">
						<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_show['indexerid']">$show_name</a>
					</td>
					<td style="text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled, #end if#$cur_show['update_type']</td>
				</tr>
    #end for
			</tbody>
		</table>
#else
		<br>
#end if
		<br>
		Refresh: <i>$len($queue_length['refresh']) show$sickbeard.helpers.maybe_plural($len($queue_length['refresh']))</i>
#if $queue_length['refresh']
		<input type="button" class="shows-more btn" id="refresh-btn-more" value="Expand" #if not $queue_length['refresh']# style="display:none" #end if#><input type="button" class="shows-less btn" id="refresh-btn-less" value="Collapse" style="display:none"><br>
		<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
			<thead>
				<tr>
					<th style="width:80%;text-align:left">Show name</th>
					<th style="width:20%">Schedule type</th>
				</tr>
			</thead>
			<tbody>
    #set $row = 0
    #for $cur_show in $queue_length['refresh']:
        #set $show = $findCertainShow($show_list, $cur_show['indexerid'])
        #set $show_name = $show.name if $show else str($cur_show['name'])
				<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
					<td style="text-align:left">
						<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_show['indexerid']">$show_name</a>
					</td>
					<td style="text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled#end if#</td>
				</tr>
    #end for
			</tbody>
		</table>
#else
		<br>
#end if
		<br>
		Rename: <i>$len($queue_length['rename']) show$sickbeard.helpers.maybe_plural($len($queue_length['rename']))</i>
#if $queue_length['rename']
		<input type="button" class="shows-more btn" id="rename-btn-more" value="Expand" #if not $queue_length['rename']# style="display:none" #end if#><input type="button" class="shows-less btn" id="rename-btn-less" value="Collapse" style="display:none"><br>

		<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
			<thead>
				<tr>
					<th style="width:80%;text-align:left">Show name</th>
					<th style="width:20%">Schedule type</th>
				</tr>
			</thead>
			<tbody>
	#set $row = 0
	#for $cur_show in $queue_length['rename']:
		#set $show = $findCertainShow($show_list, $cur_show['indexerid'])
		#set $show_name = $show.name if $show else str($cur_show['name'])
				<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
					<td style="text-align:left">
						<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_show['indexerid']">$show_name</a>
					</td>
					<td style="text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled#end if#</td>
				</tr>
	#end for
			</tbody>
		</table>
#else
		<br>
#end if
#if $sickbeard.USE_SUBTITLES
		<br>
		Subtitle: <i>$len($queue_length['subtitle']) show$sickbeard.helpers.maybe_plural($len($queue_length['subtitle']))</i>
	#if $queue_length['subtitle']
		<input type="button" class="shows-more btn" id="subtitle-btn-more" value="Expand" #if not $queue_length['subtitle']# style="display:none" #end if#><input type="button" class="shows-less btn" id="subtitle-btn-less" value="Collapse" style="display:none"><br>
		<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
			<thead>
				<tr>
					<th style="width:80%;text-align:left">Show name</th>
					<th style="width:20%">Schedule type</th>
				</tr>
			</thead>
			<tbody>
        #set $row = 0
        #for $cur_show in $queue_length['subtitle']:
            #set $show = $findCertainShow($show_list, $cur_show['indexerid'])
            #set $show_name = $show.name if $show else str($cur_show['name'])
				<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
					<td style="text-align:left">
						<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_show['indexerid']">$show_name</a>
					</td>
					<td style="text-align:center;color:white">#if $cur_show['scheduled_update']#Scheduled#end if#</td>
				</tr>
        #end for
			</tbody>
		</table>
	#else
		<br>
	#end if
#end if
	</div>
</div>
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_bottom.tmpl')
