#import sickbeard
#import datetime
#from sickbeard import network_timezones
#from sickbeard.common import *
#from sickbeard.sgdatetime import SGDatetime
##
#set global $title = 'Backlog Overview'
#set global $header = 'Backlog Overview'
#set global $sbPath = '..'
#set global $topmenu = 'manage'
#set global $page_body_attr = 'backlog'
##
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_top.tmpl')

<script type="text/javascript">
<!--
\$(document).ready(function()
{
    \$('#pickShow').change(function(){
        var id = \$(this).val();
        if (id) {
            \$('html,body').animate({scrollTop: \$('tr[id="show-' + id + '"').offset().top -25},'slow');
        }
    });

    #set $fuzzydate = 'airdate'
    #if $sickbeard.FUZZY_DATING:
    fuzzyMoment({
        containerClass: '.${fuzzydate}',
        dateHasTime: !1,
        dateFormat: '${sickbeard.DATE_PRESET}',
        timeFormat: '${sickbeard.TIME_PRESET}',
        trimZero: #echo ('!1', '!0')[$sickbeard.TRIM_ZERO]#
    });
    #end if
});
//-->
</script>

<div id="content960">
##
#if $varExists('header')
	<h1 class="header">$header</h1>
#else
	<h1 class="title">$title</h1>
#end if
##
#set $totalWanted = 0
#set $totalQual = 0
#for $cur_show_obj in $sickbeard.showList
    #set $totalWanted += $showCounts[$cur_show_obj.tvid_prodid][$Overview.WANTED]
    #set $totalQual += $showCounts[$cur_show_obj.tvid_prodid][$Overview.QUAL]
#end for
##
	<div class="h2footer pull-right">
		<span class="listing-key wanted">Wanted: <b>$totalWanted</b></span>
		<span class="listing-key qual">Low Quality: <b>$totalQual</b></span>
	</div>
	<br/>

#if not $totalWanted
	<h3>no shows require a <span class="grey-text">backlog search</span></h3>
#else
	<div class="pull-left">
		Jump to Show
		<select id="pickShow" class="form-control form-control-inline input-sm">
    #for $cur_show_obj in sorted($sickbeard.showList, key = operator.attrgetter('name')):
        #if 0 != $showCounts[$cur_show_obj.tvid_prodid][$Overview.QUAL] + $showCounts[$cur_show_obj.tvid_prodid][$Overview.WANTED]:
			<option value="$cur_show_obj.tvid_prodid">$cur_show_obj.name</option>
        #end if
    #end for
		</select>
	</div>
#end if

	<table class="sickbeardTable" border="0">
    #for $cur_show_obj in sorted($sickbeard.showList, key = operator.attrgetter('name')):
        ##
        #if 0 == $showCounts[$cur_show_obj.tvid_prodid][$Overview.QUAL] + $showCounts[$cur_show_obj.tvid_prodid][$Overview.WANTED]:
            #continue
        #end if

		<tr class="seasonheader" id="show-$cur_show_obj.tvid_prodid">
			<td colspan="3" class="text-left">
				<br/>
				<h2><a href="$sbRoot/home/view-show?tvid_prodid=$cur_show_obj.tvid_prodid">$cur_show_obj.name</a></h2>
        #if not $cur_show_obj.paused and not $backlog_active_providers:
            #set $text = 'Enable allow active searching for one or more providers at config media providers'
            #for ($tag_class, $sub) in (
                ('grey-text', 'Enable'), ('grey-text', 'for one or more providers at config')):
                #set $text = $text.replace($sub, '<span class="%s">%s</span>' % ($tag_class, $sub))
            #end for
            #set $sub = 'media providers'
            #set $text = $text.replace($sub, '<a href="%s/config/providers/#core-component-group2">%s</a>' % ($sbRoot, $sub)).replace(' more', '<br>more')

				<span style="position:relative;float:right;margin-top:-48px;text-align:right;"><i class="img-warning-16"></i>$text</span>
        #end if
				<div class="pull-right">
					<span class="listing-key wanted">Wanted: <b>$showCounts[$cur_show_obj.tvid_prodid][$Overview.WANTED]</b></span>
					<span class="listing-key qual">Low Quality: <b>$showCounts[$cur_show_obj.tvid_prodid][$Overview.QUAL]</b></span>
        #if not $cur_show_obj.paused:
					<a class="btn btn-inline forceBacklog #if not $backlog_active_providers# disabled#end if#" href="$sbRoot/manage/backlog-show?tvid_prodid=$cur_show_obj.tvid_prodid"><i class="sgicon-play"></i> Force Backlog</a>
        #else
					<span class="quality SD btn-inline forceBacklog" style="padding:4px 10px; margin-bottom:1px"><i class="sgicon-pause"></i> Paused</span>
        #end if
				</div>
			</td>
		</tr>

		<tr class="seasoncols"><th style="width:10%">Episode</th><th class="text-left">Name</th><th class="text-nowrap">Airdate</th></tr>
        ##
        #for $curResult in $showSQLResults[$cur_show_obj.tvid_prodid]:
            #set $whichStr = '%sx%s' % ($str($curResult['season']), $str($curResult['episode']))
            #try:
                #set $overview = $showCats[$cur_show_obj.tvid_prodid][$whichStr]
            #except Exception
                #continue
            #end try
            ##
            #if $overview in ($Overview.QUAL, $Overview.WANTED)
            #
		<tr class="seasonstyle $Overview.overviewStrings[$showCats[$cur_show_obj.tvid_prodid][$whichStr]]">
			<td>$whichStr</td>
			<td class="text-left">$curResult['name']</td>
			<td class="text-nowrap"><div class="${fuzzydate}">#if 1 == int($curResult['airdate']) then 'never' else $SGDatetime.sbfdate($SGDatetime.convert_to_setting($network_timezones.parse_date_time($curResult['airdate'], $cur_show_obj.airs, $cur_show_obj.network)))#</div></td>
		</tr>
            #
            #end if
        #end for
    #end for

	</table>
</div>

#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_bottom.tmpl')
