#import sickbeard
##
#set global $title = 'Media Search'
#set global $header = 'Media Search'
#set global $sbPath = '..'
#set global $topmenu = 'manage'
##
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_top.tmpl')

<script type="text/javascript" src="$sbRoot/js/plotTooltip.js?v=$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/manageSearches.js?v=$sbPID"></script>
<div id="content800">
#if $varExists('header')
	<h1 class="header">$header</h1>
#else
	<h1 class="title">$title</h1>
#end if

	<div id="summary2" class="align-left">
		<h3>Backlog Search:</h3>
		<a id="forcebacklog" class="btn#if $standard_backlog_running or $backlog_is_active# disabled#end if#" href="$sbRoot/manage/manageSearches/forceBacklog"><i class="sgicon-play"></i> Force</a>
		<a id="pausebacklog" class="btn" href="$sbRoot/manage/manageSearches/pauseBacklog?paused=#if $backlog_paused then "0" else "1"#"><i class="#if $backlog_paused then "sgicon-play" else "sgicon-pause"#"></i> #if $backlog_paused then "Unpause" else "Pause"#</a>
#if $backlog_paused then 'Paused: ' else ''#
#if not $backlog_running and not $backlog_is_active:
		Not in progress<br />
#else
		Currently running#if $backlog_running_type != "None"# ($backlog_running_type)#end if#<br />
#end if
		<br />

		<h3>Recent Search:</h3>
		<a id="recentsearch" class="btn#if $recent_search_status# disabled#end if#" href="$sbRoot/manage/manageSearches/forceSearch"><i class="sgicon-play"></i> Force</a>
#if not $recent_search_status
		Not in progress<br />
#else
		In Progress<br />
#end if
		<br />

		<h3>Find Propers Search:</h3>
		<a id="propersearch" class="btn#if $find_propers_status# disabled#end if#" href="$sbRoot/manage/manageSearches/forceFindPropers"><i class="sgicon-play"></i> Force</a>
#if not $find_propers_status
		Not in progress<br />
#else
		In Progress<br />
#end if
		<br />

		<br /><br />

		<h3>Search Queue:</h3>
#if $queue_length['backlog'] or $queue_length['manual'] or $queue_length['failed']
		<input type="button" class="show-all-more btn" id="all-btn-more" value="Expand All"><input type="button" class="show-all-less btn" id="all-btn-less" value="Collapse All"><br>
#end if
<br>
Recent: <i>$queue_length['recent'] item$sickbeard.helpers.maybe_plural($queue_length['recent'])</i><br><br>
Proper: <i>$queue_length['proper'] item$sickbeard.helpers.maybe_plural($queue_length['proper'])</i><br><br>
Backlog: <i>$len($queue_length['backlog']) item$sickbeard.helpers.maybe_plural($len($queue_length['backlog']))</i>
#if $queue_length['backlog']
	<input type="button" class="shows-more btn" id="backlog-btn-more" value="Expand" #if not $queue_length['backlog']# style="display:none" #end if#><input type="button" class="shows-less btn" id="backlog-btn-less" value="Collapse" style="display:none"><br>
	<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
		<thead></thead>
		<tbody>
		#set $row = 0
		#for $cur_item in $queue_length['backlog']:
			#set $search_type = 'On Demand'
			#if $cur_item['standard_backlog']:
				#if $cur_item['forced']:
					#set $search_type = 'Forced'
				#else
					#set $search_type = 'Scheduled'
				#end if
				#if $cur_item['torrent_only']:
					#set $search_type += ', Torrent Only'
				#end if
				#if $cur_item['limited_backlog']:
					#set $search_type += ' (Limited)'
				#else
					#set $search_type += ' (Full)'
				#end if
			#end if
			<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
				<td style="width:80%;text-align:left;color:white">
					<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_item['indexerid']">$cur_item['name']</a> - $sickbeard.helpers.make_search_segment_html_string($cur_item['segment'])
				</td>
				<td style="width:20%;text-align:center;color:white">$search_type</td>
			</tr>
		#end for
		</tbody>
	</table>
#else
	<br>
#end if
<br>
Manual: <i>$len($queue_length['manual']) item$sickbeard.helpers.maybe_plural($len($queue_length['manual']))</i>
#if $queue_length['manual']
	<input type="button" class="shows-more btn" id="manual-btn-more" value="Expand" #if not $queue_length['manual']# style="display:none" #end if#><input type="button" class="shows-less btn" id="manual-btn-less" value="Collapse" style="display:none"><br>
	<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
		<thead></thead>
		<tbody>
		#set $row = 0
		#for $cur_item in $queue_length['manual']:
			<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
				<td style="width:100%;text-align:left;color:white">
					<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_item['indexerid']">$cur_item['name']</a> - $sickbeard.helpers.make_search_segment_html_string($cur_item['segment'])
				</td>
			</tr>
		#end for
		</tbody>
	</table>
#else
	<br>
#end if
<br>
Failed: <i>$len($queue_length['failed']) item$sickbeard.helpers.maybe_plural($len($queue_length['failed']))</i>
#if $queue_length['failed']
	<input type="button" class="shows-more btn" id="failed-btn-more" value="Expand" #if not $queue_length['failed']# style="display:none" #end if#><input type="button" class="shows-less btn" id="failed-btn-less" value="Collapse" style="display:none"><br>
	<table class="sickbeardTable manageTable" cellspacing="1" border="0" cellpadding="0" style="display:none">
		<thead></thead>
		<tbody>
		#set $row = 0
		#for $cur_item in $queue_length['failed']:
			<tr class="#echo ('odd', 'even')[$row % 2]##set $row+=1#">
				<td style="width:100%;text-align:left;color:white">
					<a class="whitelink" href="$sbRoot/home/displayShow?show=$cur_item['indexerid']">$cur_item['name']</a> - $sickbeard.helpers.make_search_segment_html_string($cur_item['segment'])
				</td>
			</tr>
		#end for
		</tbody>
	</table>
#else
	<br>
#end if
	</div>
</div>

#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_bottom.tmpl')
