#import sickbeard
#from sickbeard import TVInfoAPI
#from sickbeard.helpers import anon_url
#from sickbeard.tv import PersonGenders
#from six import iteritems
<% def sg_var(varname, default=False): return getattr(sickbeard, varname, default) %>#slurp#
<% def sg_str(varname, default=''): return getattr(sickbeard, varname, default) %>#slurp#
##
#set global $title = 'Person'
#set global $header = 'Person'
#set global $sbPath = '../..'
#set global $topmenu = 'person'
##
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_top.tmpl')

#if $varExists('header')
	<h1 class="header">$header</h1>
#else
	<h1 class="title">$title</h1>
#end if

##
#set $html_selected = ' selected="selected"'
#set $html_checked = ' checked="checked"'
#set $age = $person.age
<div id="person">
	<div id="person-content" class="linefix">
		<a href="$sbRoot/imagecache/person?person_id=$person.id&amp;thumb=0" rel="dialog"><img src="$sbRoot/imagecache/person?person_id=$person.id&amp;thumb=1" style="height: 300px;"></a>
		<div style="font-weight: bolder;font-size: x-large;">$person.name#if $age #<span> ($age)</span>#end if#</div>
#if $PersonGenders.UNKNOWN != $person.gender
		<div><span style="font-weight: bolder;">Gender:</span> $PersonGenders.names.get($person.gender, 'unknown')</div>
#end if
#if $person.birthday
		<div><span style="font-weight: bolder;">Birthdate:</span> $person.birthday</div>
#end if
#if $person.birthplace
		<div><span style="font-weight: bolder;">Birthplace:</span> $person.birthplace</div>
#end if
#if $person.deathday
		<div><span style="font-weight: bolder;">Deathdate:</span> $person.deathday</div>
#end if
		<br />
		<div><span style="font-weight: bolder; font-size: larger;">Bio:</span><br />$person.biography</div>
		<br />
		<div><span  style="font-weight: bolder; font-size: larger;">Links:</span><br />
#for $src, $sid in sorted(iteritems($person.ids))
#if $TVInfoAPI($src).config.get('people_url')
		<a href="$anon_url($TVInfoAPI($src).config['people_url'] % $sid)" target="_blank">
		#if $TVInfoAPI($src).config.get('icon')
		<img alt="$TVInfoAPI($src).name" height="16" width="16" src="$sbRoot/images/$TVInfoAPI($src).config['icon']">
		#end if
		$TVInfoAPI($src).name</a><br />
#end if
#end for
		</div>
		<br />
		<div><span style="font-weight: bolder; font-size: x-large;">Characters in db:</span><br />
#for $character in $characters
#if $character.get('show_obj')
			<div style="margin: 10px;font-size: x-large;"><span style="width: 210px;display: inline-block;"><a href="$sbRoot/imagecache/character?character_id=$character['character_id']&amp;show=$character['show_obj'].tvid_prodid&amp;thumb=0" rel="dialog"><img src="$sbRoot/imagecache/character?character_id=$character['character_id']&amp;show=$character['show_obj'].tvid_prodid&amp;thumb=1" style="height: 200px;"></a></span><a href="$sbRoot/home/character?character_id=$character['character_id']&amp;show=$character['show_obj'].tvid_prodid&amp;thumb=0" style="font-weight: bolder;">$character['character_name']</a> <span style="font-weight: lighter;">(<a href="$sbRoot/home/view-show?tvid_prodid=$character['show_obj'].tvid_prodid">$character['show_obj'].name</a>)</span>
#if $character.get('show_obj')
#set $first_aired = $character['show_obj'].first_aired_episode
#set $latest_aired = $character['show_obj'].latest_aired_episode
#if $first_aired
#set $from_age = $person.calc_age($first_aired.airdate)
#if $from_age
				($from_age#if $latest_aired# - $person.calc_age($latest_aired.airdate)#end if# years)
#end if
#end if
#end if
			</div>
#end if
#end for
		</div>
	</div>
</div>

<div></div>

#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/inc_bottom.tmpl')
