##############################################################################################################
## This file is deprecated (Oct 2016) but services systems in transition to the refactored restart template ##
##############################################################################################################
##
#import sickbeard
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, 'gui/slick/interfaces/default/restart.tmpl')
