/* =======================================================================
fonts
========================================================================== */
/* Open Sans */
/* Regular */
@font-face {
	font-family: 'Open Sans';

	src:url('fonts/OpenSans-Regular-webfont.eot');
	src:url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
		url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-weight: 400;
	font-style: normal;
}

/* =======================================================================
login.tmpl
========================================================================== */

.login {
	position : absolute;
	display: block;
	height: 275px;
	width: 300px;
	margin-top: -137.5px;
	margin-left: -150px;
	top: 50%;
	left: 50%;
}

.login-img {
	height: 128px;
	width: 250px;
	background-image: url('../images/sickgear-large.png');
	margin-bottom: 0;
}

.login .glyphicon {
	top: 0
}

.login-error {
	height: 20px;
	margin-bottom: 2px;
	font-size: 13px;
	text-align: center;
}

.login-remember {
	font-size: 12px;
	display: inline-block;
	padding: 2px 0;
	line-height: 14px
}

.login-remember input {
	position: relative;
	top: 2px
}

.login-remember span {
	margin-left: 5px;
}

.error16 {
	background: url('../images/error16.png') no-repeat 0 1px;
	width: 16px;
	display: inline-block;
}

/* =======================================================================
Global
========================================================================== */

.red-text {
	color: #d33;
}

/* =======================================================================
bootstrap Overrides
========================================================================== */

body { 
	padding-top: 60px; 
	overflow-y: scroll;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
}

label {
	font-weight: normal;
}

.btn {
	display: inline-block;
	*display: inline;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 12px;
	line-height: 16px;
	*line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-repeat: repeat-x;
	*border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*zoom: 1;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}

.btn:active,
.btn.active {
	background-color: #cccccc \9;
}

.btn:first-child {
	*margin-left: 0;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn.active,
.btn:active {
	background-color: #e6e6e6;
	background-color: #d9d9d9 \9;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}